* {
    padding: 0;
    margin: 0;
}

.tasks-list {
    display: flex;
    justify-content: space-between;
}

.tasks-list .card {
    width: 33%;
}

.tasks-sort {
    margin: 10px 0;
}

.tasks-sort > span {
    margin-right: 20px;
}

.tasks-pagination {
    margin-top: 20px;
}

.tasks-messages {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px 0;
}

.green {
    color: green !important;
}